<!DOCTYPE html>
<html>
<head>
  <title>Facker News</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
	<div id='webHeader'><img src='/assets/y18.gif'/><h1>This is Facker News!</h1></div>

<%= yield %>
<div id='footer'></div>
<p id='footerParagraph'>Guidelines | FAQ | Support | API | Lists | Bookmarklet | DMCA | Y Combinator | Apply | Contact</p>
<form id='searchMain' action="demo_form.asp">
	  Search: <input type="text" name="fname"><br>
	      <input type="hidden" value="Submit">
</form>
</body>
</html>
